[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/satheshreddy
[access "refs/for/refs/*"]
	read = group user/satheshreddy
	push = group user/satheshreddy
	label-Code-Review = -2..+2 group user/satheshreddy
	label-Verified = -1..+1 group user/satheshreddy
	rebase = group user/satheshreddy
	removeReviewer = group user/satheshreddy
	submit = group user/satheshreddy
[access "refs/heads/*"]
	read = group user/satheshreddy
	create = group user/satheshreddy
	push = +force group user/satheshreddy
	pushMerge = group user/satheshreddy
[access "refs/tags/*"]
	push = group user/satheshreddy
	push = +force group user/satheshreddy
